{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <title>CXR Inventory Management</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'scripts/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'scripts/jquery-2.2.4.js' %"></script>
    <script src="{% static 'scripts/color-modes.js' %}"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light lead">
        <div class="container-fluid">
            <img src="{% static 'images/logo-sm.png' %}">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation" id="nav_toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Manager
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'organizations' %}">Organizations</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Theme
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li class="dropdown-item">
                                <a class="dropdown-item" data-bs-theme-value="light" href="#">Light</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="dropdown-item" data-bs-theme-value="dark" href="#">Dark</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <!-- In this case, we want the account menu to change if a user is logged in.-->
                        {% if currentuser %}
                        <!-- This menu is for logged in users. There is the option to view account details or log out.-->
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'user-details' %}">Account Details</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout-user' %}">Log out</a></li>
                        </ul>
                        {% else %}
                        <!-- This menu is for not logged in users. There is the option to login and the option to register.-->
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'login-user' %}">Log in</a></li>
                            <li><a class="dropdown-item" href="{% url 'create-user' %}">Register</a></li>
                        </ul>
                        {% endif %}
                    </li>

                </ul>

            </div>
        </div>
</nav>


    {% block content %}

    {% endblock %}
</body>
</html>
