{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <title>CXR Inventory Management</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'styles/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'scripts/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'scripts/jquery-2.2.4.js' %"></script>
    <script src="{% static 'scripts/color-modes.js' %}"></script>
</head>

<body>
    <h1>Access denied.</h1>
    <p>You do not have access to perform that action.</p>
</body>
</html>
