<!-- inherit from base.html -->
{% extends 'inventoryManager/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>
    <a href="{% url 'organizations' %}">Organizations</a> ->
    <a href="{% url 'organization-detail' organization.id %}">{{ organization.name }}</a> ->
    <a href="{% url 'order-detail' organization.id order.id %}">{{ order.title }}</a> ->
    {% if item_data %}
    {{ state }}: <a href="{% url 'order-item-detail' organization.id order.id item_data.id %}">{{ item_data.itemName }}</a>
    {% else %}
    {{ state }}: Order Item
    {% endif %}
</h1>

<form action="" method="POST">
    {% csrf_token %}
    <strong>Are you sure you want to delete this item?</strong>
    <input class="btn btn-primary" type="submit" value="Cancel" name="submit">
    <input class="btn btn-primary" type="submit" value="Delete" name="submit">
</form>

{% endblock %}
