{% extends 'inventoryManager/base_template.html' %}

{% block content %}
<div class="d-flex flex-column d-grid gap-4 mb-4">
    <div class="d-flex flex-row border gap-4 mx-2">
        <h1>
            <a href="{% url 'organizations' %}">Organizations</a> ->
            <a href="{% url 'organization-detail' organization.id %}">{{ organization.name }}</a> ->
            <a href="{% url 'order-detail' organization.id order.id %}">{{ order.title }}</a> ->
            {{ orderItem.itemName }}
        </h1>
    </div>
</div>

    <a class="btn btn-secondary" href="{% url 'edit-order-item' organization.id order.id orderItem.id %}" role="button">Edit Details</a>
{% endblock %}
