{% extends 'inventoryManager/base_template.html' %}

{% block content %}
<h1>{{ organization.name }}</h1>
<p><strong>POC: </strong> {{ organization.contact_name }}</p>
<p><strong>Contact email: </strong> {{ organization.contact_email }}</p>
<p><strong>About: </strong> {{ organization.about }}</p>

{% if currentuser %}
<!-- Only show edit options if a user is logged in.-->
    <a class="btn btn-secondary" href="{% url 'edit-organization' organization.id %}" role="button">Edit Details</a>
    <a class="btn btn-danger" href="{% url 'delete-organization' organization.id %}" role="button">Delete</a>
    <h2>List of Orders: <a class="btn btn-primary" href="{% url 'create-order' organization.id %}" role="button">New</a></h2>
{% else %}
    <h2>List of Orders: </h2>
{% endif %}

{% if order_list %}
<div class="container d-flex flex-row p-1 text-dark text-left float-start">
    {% for order in order_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5>{{ order.title }}</h5>
            <p class="card-text">{{ order.description }}</p>
            <p class="card-text">Items in order: {{ order.getNumItems }}</p>
            <p class="card-text">Order Cost: ${{ order.getTotalCost }}</p>

            {% if currentuser %}
            <!-- only let a user see the order details if logged in.-->
            <a class="btn btn-primary" href="{% url 'order-detail' organization.id order.id %}" role="button">View</a>
            <a class="btn btn-secondary" href="{% url 'edit-order' organization.id order.id %}" role="button">Edit Details</a>
            <a class="btn btn-danger" href="{% url 'delete-order' organization.id order.id %}" role="button">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
        {% else %}
<p>This organization has no orders.</p>
    {% endif %}
    {% endblock %}
