<!-- inherit from base.html -->
{% extends 'inventoryManager/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1 class="display-4">Delete Project: {{ organization_data.name }}</h1>
<form action="" method="POST">
    {% csrf_token %}
    <strong>Are you sure you want to delete this project?</strong>
    <p></p>
    <input class="btn btn-primary" type="submit" value="Cancel" name="submit">
    <input class="btn btn-primary" type="submit" value="Delete" name="submit">
</form>

{% endblock %}
