<!-- inherit from base.html -->
{% extends 'inventoryManager/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="d-flex flex-column d-grid gap-4 mb-4">
    <div class="d-flex flex-row border gap-4 mx-2">
        <h1>
            <a href="{% url 'organizations' %}">Organizations</a> ->
            {% if organization %}
            {{ state }}: <a href="{% url 'organization-detail' organization.id %}">{{ organization.name }}</a>
            {% else %}
            {{ state }}: Organization
            {% endif %}
        </h1>

    </div>
</div>

<form action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label class="control-label lead" for="id_{{ field.name }}">{{ field.label }}</label>
        <br>
        {{ field }}
        <br>
    </div>
    {% endfor %}
    <!-- <input formnovalidate class="btn btn-primary" type="submit" value="Cancel" name="submit"> -->
    {% if organization %}
    <a href="{% url 'organization-detail' organization.id %}" type="button" class="btn btn-primary">Cancel</a>
    {% else %}
    <a href="{% url 'organizations' %}" type="button" class="btn btn-primary">Cancel</a>
    {% endif %}
    <input class="btn btn-primary" type="submit" value="Submit" name="submit">
</form>

{% endblock %}
