<!-- inherit from base.html -->
{% extends 'inventoryManager/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}

<h1>
    <a href="{% url 'organizations' %}">Organizations</a> ->
    {% if organization %}
    {{ state }}: <a href="{% url 'organization-detail' organization.id %}">{{ organization.name }}</a>
    {% else %}
    {{ state }}: Organization
    {% endif %}
</h1>

<form action="" method="POST">
    {% csrf_token %}
    <strong>Are you sure you want to delete this organization?</strong>
    <p></p>
    <input class="btn btn-primary" type="submit" value="Cancel" name="submit">
    <input class="btn btn-primary" type="submit" value="Delete" name="submit">
</form>

{% endblock %}
